@import url('reset.css');

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.header {
    padding: 20px 0;
    background: #ccc;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
}


.menu {
    display: flex;
    justify-content: center;
    gap: 120px;
}

menu a {
    color: grey;
    text-decoration: none;
    padding: 10px 25px;
}

.header_icon {
    width: 40px;
    height: 40px;
    fill: #fff;
    position: absolute;
    top: 0;
    left: -1px;
}

.header-icon-right {
    width: 40px;
    height: 40px;
    fill: #fff;
    position: absolute;
    top: 1px;
    right: -1px;
}

.icon_link {
    background-color: cornsilk;
    color: grey;
    display: block;
    text-decoration: none;
    padding: 5px 50px;
}

.second-ul li a {
    padding: 10px 25px;
    text-decoration: none;
}

.menu>li {
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
}

.menu>li:hover .second-ul {
    display: block;
    top: 100%;
}


.second-ul {
    transition: all 2s cubic-bezier(1, .14, 0, 1.66);
    padding: 20px 0 0;
    position: absolute;
    left: 0;
    top: -1000%;
    z-index: 1;


}

.header_icon_arrow {
    top: 4px;
}

.second-ul>li a {
    padding: 10px 45px;

}

.second-ul>li {
    background: whitesmoke;
    position: relative;

}

.second_1-ul li {
    background: whitesmoke;

}


.li2:hover .second_1-ul {
    display: block;
    top: 0;
    right: 100%;
}

.second_1-ul {
    transition: all 1s cubic-bezier(.13, 1.07, 0, .37);
    right: -100%;
    top: -1000%;
    z-index: 1;
    position: absolute;


}

.list_svg {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.icon_svg {
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);

}

.hover_me {

    position: fixed;
    bottom: 0;
    left: 70%;
    width: 225px;
    transform: translateY(calc(100% - 40px));
    transition: all 1s;
}

.hover_me:hover {
    transition: all 2s;
    transform: translateY(0);

}

.hover_me:hover .hover_me_klik {
    animation: none;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.hover_svg a {
    display: block;
    padding: 3px;
}

.hover_svg li {
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.hover_svg {
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    width: 120px;
    transform: rotate(45deg);
    justify-content: center;
    padding: 40px 0;
}

.hover_me_klik {
    background-color: gray;
    text-align: center;
    font-size: 30px;
    padding: 5px 0;
    animation: pulse .5s infinite;


}

.back {
    background-color: dimgray;
}

@keyframes pulse {
    0% {
        transform: translate(1px, 0px);
    }

    10% {
        transform: translate(-3px, 0px);
    }

    20% {
        transform: translate(3px, 0px);
    }

    50% {
        transform: translate(-4px, 0px);
    }

    100% {
        transform: translate(4px, 0px);
    }
}

footer {
    background-color: blue;
    width: 100%;
    padding: 65px;
    font-size: 0px;

    top: 100%;
    left: 0;
}

.header_icon:hover {
    fill: bisque;
}

.menu li:hover a {
    display: block;
    color: wheat;
}

.menu li:hover svg {
    fill: wheat;
}