@import url('reset.css');

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.header {
    padding: 20px 0;
    background: #ccc;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
}


.menu {
    display: flex;
    justify-content: center;
    gap: 120px;
}

menu a {
    color: grey;
    text-decoration: none;
    padding: 10px 25px;
}

.header_icon {
    width: 40px;
    height: 40px;
    fill: #fff;
    position: absolute;
    top: 0;
    left: -1px;
}

.header-icon-right {
    width: 40px;
    height: 40px;
    fill: #fff;
    position: absolute;
    top: 1px;
    right: -1px;
}

.icon_link {
    color: grey;
    display: block;
    text-decoration: none;
    padding: 5px 50px;
}

.second-ul li a {
    padding: 10px 25px;
    text-decoration: none;
}

.menu>li {
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
}

.menu>li:hover .second-ul {
    display: block;
    top: 100%;
}


.second-ul {
    transition: all 2s cubic-bezier(1, .14, 0, 1.66);
    padding: 20px 0 0;
    position: absolute;
    left: 0;
    top: -1000%;
    z-index: 1;


}

.header_icon_arrow {
    top: 4px;
}

.second-ul>li a {
    padding: 10px 45px;

}

.second-ul>li {
    background: whitesmoke;
    position: relative;

}

.second_1-ul li {
    background: whitesmoke;

}

.second_1-ul {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
}



.FooterContainer {
    width: 1200px;
    margin: 0 auto;

}

.list_svg {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.icon_svg {
    width: 60px;
    height: 60px;
    fill: #fff;
}

footer {
    background-color: papayawhip;
    width: 100%;
    padding: 65px;
    font-size: 0px;
    position: absolute;
    top: 100%;
    left: 0;
}

.header_icon:hover {
    fill: bisque;
}

.menu li:hover a {
    color: wheat;
}

.menu li:hover svg {
    fill: wheat;
}